In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the CSV data into a Pandas DataFrame
starter_df = pd.read_csv('../data/civil_cases.csv')
starter_df.head(10)

,REF_DATE,GEO,DGUID,Level of court,Type of case,Case unit,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2005/2006,Canada,2016A000011124,Total civil court cases,Total cases,Total initiated cases,Number,223,units,0,v65758050,1.1.1.1,384157.0,NaN,NaN,NaN,0
1,2005/2006,Canada,2016A000011124,Total civil court cases,Total cases,Total active cases,Number,223,units,0,v65757902,1.1.1.2,673646.0,NaN,NaN,NaN,0
2,2005/2006,Canada,2016A000011124,Total civil court cases,Total cases,Total active cases with disposition in fiscal ...,Number,223,units,0,v65757976,1.1.1.3,381291.0,NaN,NaN,NaN,0
3,2005/2006,Canada,2016A000011124,Total civil court cases,General civil cases,Total initiated cases,Number,223,units,0,v65758051,1.1.2.1,248366.0,NaN,NaN,NaN,0
4,2005/2006,Canada,2016A000011124,Total civil court cases,General civil cases,Total active cases,Number,223,units,0,v65757903,1.1.2.2,435537.0,NaN,NaN,NaN,0
5,2005/2006,Canada,2016A000011124,Total civil court cases,General civil cases,Total active cases with disposition in fiscal ...,Number,223,units,0,v65757977,1.1.2.3,219771.0,NaN,NaN,NaN,0
6,2005/2006,Canada,2016A000011124,Total civil court cases,Family cases,Total initiated cases,Number,223,units,0,v65758052,1.1.3.1,135791.0,NaN,NaN,NaN,0
7,2005/2006,Canada,2016A000011124,Total civil court cases,Family cases,Total active cases,Number,223,units,0,v65757904,1.1.3.2,238109.0,NaN,NaN,NaN,0
8,2005/2006,Canada,2016A000011124,Total civil court cases,Family cases,Total active cases with disposition in fiscal ...,Number,223,units,0,v65757978,1.1.3.3,161520.0,NaN,NaN,NaN,0
9,2005/2006,Canada,2016A000011124,Superior civil court cases,Total cases,Total initiated cases,Number,223,units,0,v65758053,1.2.1.1,311939.0,NaN,NaN,NaN,0

In [3]:
starter_df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Level of court', 'Type of case',
       'Case unit', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR',
       'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [4]:
starter_df.dtypes

REF_DATE           object
GEO                object
DGUID              object
Level of court     object
Type of case       object
Case unit          object
UOM                object
UOM_ID              int64
SCALAR_FACTOR      object
SCALAR_ID           int64
VECTOR             object
COORDINATE         object
VALUE             float64
STATUS             object
SYMBOL            float64
TERMINATED        float64
DECIMALS            int64
dtype: object

In [5]:
civil_df = starter_df[['REF_DATE', 'GEO', 'Level of court', 'Type of case','VALUE']]
civil_df = civil_df.rename(columns={'REF_DATE': "Year_Period", 'GEO': "Jurisdiction",'Type of case': "Case_Type", 'VALUE': "Case_Count"})
civil_df.head(10)

,Year_Period,Jurisdiction,Level of court,Case_Type,Case_Count
0,2005/2006,Canada,Total civil court cases,Total cases,384157.0
1,2005/2006,Canada,Total civil court cases,Total cases,673646.0
2,2005/2006,Canada,Total civil court cases,Total cases,381291.0
3,2005/2006,Canada,Total civil court cases,General civil cases,248366.0
4,2005/2006,Canada,Total civil court cases,General civil cases,435537.0
5,2005/2006,Canada,Total civil court cases,General civil cases,219771.0
6,2005/2006,Canada,Total civil court cases,Family cases,135791.0
7,2005/2006,Canada,Total civil court cases,Family cases,238109.0
8,2005/2006,Canada,Total civil court cases,Family cases,161520.0
9,2005/2006,Canada,Superior civil court cases,Total cases,311939.0

In [6]:
civil_df['Level of court'].unique()

array(['Total civil court cases', 'Superior civil court cases',
       'Provincial or Territorial civil court cases'], dtype=object)

In [7]:
civil_df = civil_df.groupby(["Year_Period", "Jurisdiction", "Case_Type"])["Case_Count"].sum().reset_index()
civil_df

    Year_Period          Jurisdiction            Case_Type  Case_Count
0     2005/2006               Alberta         Family cases         0.0
1     2005/2006               Alberta  General civil cases         0.0
2     2005/2006               Alberta          Total cases         0.0
3     2005/2006      British Columbia         Family cases    228366.0
4     2005/2006      British Columbia  General civil cases    443146.0
..          ...                   ...                  ...         ...
499   2021/2022  Prince Edward Island  General civil cases     10356.0
500   2021/2022  Prince Edward Island          Total cases     14898.0
501   2021/2022                 Yukon         Family cases      1562.0
502   2021/2022                 Yukon  General civil cases      3156.0
503   2021/2022                 Yukon          Total cases      4718.0

[504 rows x 4 columns]

In [8]:
civil_df["Case_Count"] = civil_df["Case_Count"].astype(int)
civil_df

    Year_Period          Jurisdiction            Case_Type  Case_Count
0     2005/2006               Alberta         Family cases           0
1     2005/2006               Alberta  General civil cases           0
2     2005/2006               Alberta          Total cases           0
3     2005/2006      British Columbia         Family cases      228366
4     2005/2006      British Columbia  General civil cases      443146
..          ...                   ...                  ...         ...
499   2021/2022  Prince Edward Island  General civil cases       10356
500   2021/2022  Prince Edward Island          Total cases       14898
501   2021/2022                 Yukon         Family cases        1562
502   2021/2022                 Yukon  General civil cases        3156
503   2021/2022                 Yukon          Total cases        4718

[504 rows x 4 columns]

In [9]:
# Save the DataFrame to a CSV file
civil_df.to_csv('civil_case_data.csv', index=False)